// HOME MOBILE AJUSTES
@media (max-width: 768px) {
    .render-route-store-home{
        .vtex-flex-layout-0-x-flexRow--container-bannermagazines{
            margin: 0 12px;
            background: unset;
            
            .vtex-store-components-3-x-container {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 375px!important;
                background: linear-gradient(271.89deg,rgba(0,160,198,0.54) -4.04%,#1f6591 102.35%);
                border-radius: 5px;
                margin: 0 auto!important;
                
                .vtex-flex-layout-0-x-flexRowContent--container-bannermagazines{
                    max-width: unset;
                    padding: unset;
                    
                    & > .vtex-flex-layout-0-x-stretchChildrenWidth{
                        .vtex-flex-layout-0-x-flexRow--main-content-magazines{
                            .vtex-flex-layout-0-x-flexRowContent--main-content-magazines {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                                
                                & > .vtex-flex-layout-0-x-stretchChildrenWidth{
                                    &:first-of-type{
                                        margin-top: 24px;
                                        
                                        .vtex-rich-text-0-x-container--text-fornecedor-oficial{
                                            left: unset;
                                            display: flex;
                                            justify-content: center;
                                            
                                            & .vtex-rich-text-0-x-paragraph--text-fornecedor-oficial{
                                                text-align: center;
                                            }
                                        }
                                    }
                                    &:nth-of-type(2){
                                        position: absolute;
                                        top: 91px;
                                        
                                        &::after{
                                            content: '';
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-image: url("data:image/svg+xml,%3Csvg width='210' height='336' viewBox='0 0 210 336' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.2' cx='105' cy='52' r='52' fill='white'/%3E%3Ccircle cx='105' cy='52' r='44.5' stroke='white'/%3E%3Cpath d='M132.749 47.1445C132.687 47.2512 132.625 47.3428 132.548 47.419C132.315 47.6783 132.037 47.9223 131.743 48.1206C131.062 48.5629 130.365 48.9747 129.638 49.3407C128.756 49.7983 127.827 50.1338 126.852 50.3778C126.449 50.4693 126.032 50.5456 125.614 50.5761C125.397 50.5914 125.18 50.6219 124.979 50.6066C124.236 50.6066 123.493 50.4693 122.812 50.1948C122.549 50.088 122.317 49.9203 122.1 49.722C118.556 46.2141 115.027 42.7215 111.483 39.2136C110.198 37.9477 108.929 36.6818 107.645 35.4007L107.552 35.3092C107.366 35.1109 107.382 35.1262 107.18 35.3092C106.468 35.9803 105.756 36.6666 105.029 37.3377L102.305 39.9152L99.7668 42.3097L96.9809 44.9482C96.207 45.6803 95.4486 46.3972 94.6748 47.1292L91.7341 49.905L89.1184 52.3605L86.4254 54.9228L83.8098 57.3936L81.8287 59.2543L81.7513 59.3306C81.6894 59.3916 81.6584 59.3916 81.5965 59.3306C81.5037 59.239 81.4263 59.1323 81.3334 59.0255C80.9929 58.629 80.6679 58.2477 80.3274 57.8511C80.0952 57.5614 79.894 57.2411 79.7547 56.9055C79.4607 56.3107 79.2595 55.7007 79.1356 55.0601C79.0118 54.4195 78.9654 53.7637 79.0273 53.1231C79.1047 52.1928 79.3523 51.2777 79.7238 50.4236C80.0798 49.6458 80.5131 48.8984 81.0239 48.2121C81.4882 47.5715 82.0144 46.9767 82.5716 46.4277C83.2216 45.7871 83.9026 45.1618 84.5527 44.5364L84.8003 44.2924L87.5088 41.6996C88.1743 41.0591 88.8244 40.4338 89.4899 39.8084C90.4031 38.9391 91.3007 38.0545 92.2139 37.1852C93.4521 35.9803 94.7057 34.7754 95.9439 33.5705C98.3274 31.2675 100.68 28.9493 103.032 26.6158C103.296 26.3565 103.605 26.1277 103.93 25.9447C104.689 25.5329 105.509 25.2431 106.36 25.0906C106.995 24.9838 107.645 24.9686 108.279 25.0601C109.239 25.1974 110.152 25.5481 110.941 26.1125C111.189 26.2955 111.421 26.4937 111.638 26.692C112.474 27.4698 113.309 28.2477 114.145 29.0408C115.167 30.0016 116.173 30.9625 117.179 31.9233C117.782 32.5029 118.401 33.0825 119.005 33.6773L121.187 35.782L123.524 38.0392L126.403 40.815L129.158 43.4841C130.272 44.567 131.387 45.6498 132.501 46.7327C132.548 46.7784 132.609 46.8242 132.656 46.8852C132.795 46.931 132.811 47.053 132.749 47.1445Z' fill='white'/%3E%3Cpath d='M123.338 78.8372H123.06C114.284 78.8372 105.509 78.8372 96.7486 78.8372C96.3617 78.822 95.9748 78.7915 95.6033 78.7152C94.814 78.5779 94.0556 78.3797 93.2972 78.1051C91.8888 77.6018 90.6197 76.7935 89.5672 75.7259C88.4219 74.5363 87.6171 73.0721 87.2456 71.4707C87.1528 71.1199 87.1063 70.7691 87.1063 70.4031C87.0909 69.6252 87.0754 68.8321 87.0444 68.0543C87.0135 67.4137 87.029 66.7884 86.998 66.1478C86.9516 65.37 86.9825 64.5922 86.9361 63.8296C86.8742 62.3959 86.8897 60.9775 86.8897 59.5439C86.8897 59.4219 86.9361 59.2999 87.0444 59.2236C87.8647 58.5373 88.6695 57.8357 89.4744 57.1494C90.0625 56.6461 90.6506 56.1428 91.2388 55.6395C91.9507 55.0294 92.6627 54.4193 93.3746 53.8245C93.8235 53.4585 94.2568 53.0772 94.6902 52.6959L95.5414 51.9638C95.5724 51.9333 95.6033 51.9181 95.6343 51.9028C95.6498 51.8875 95.6807 51.9028 95.6807 51.9181V51.9333C95.6807 52.0096 95.6807 52.0858 95.6807 52.1773V63.25C95.6807 63.4941 95.6807 63.7381 95.6498 63.9821C95.6498 64.1499 95.6498 64.3176 95.6652 64.4854C95.6807 65.1412 95.7736 65.7818 95.9438 66.4224C96.1605 67.2765 96.5474 68.0696 97.0891 68.7559C97.6463 69.4422 98.3738 69.9608 99.2095 70.281C99.7048 70.4793 100.231 70.6013 100.757 70.6623C101.175 70.7081 101.578 70.7233 101.995 70.7233C105.896 70.7081 109.796 70.7081 113.696 70.7233C115.739 70.7386 117.72 71.3487 119.423 72.462C120.94 73.4686 122.1 74.9175 122.735 76.6105C122.983 77.251 123.153 77.9221 123.277 78.5932C123.277 78.6847 123.308 78.7457 123.338 78.8372Z' fill='white'/%3E%3Cpath d='M95.7736 28.3998C95.7581 28.5066 95.7426 28.6286 95.7117 28.7354C95.6807 28.8421 95.6188 28.9336 95.5414 28.9947C95.0462 29.4827 94.5354 29.9708 94.0401 30.4588C92.8329 31.6332 91.6257 32.7923 90.4185 33.9667L87.6016 36.6815C87.4004 36.8645 87.1992 37.0628 86.998 37.2458C86.9671 37.2763 86.9206 37.2916 86.8742 37.2763V26.5239C86.8742 26.1273 86.8278 26.1578 87.2302 26.1578H95.3867C95.7891 26.1578 95.7272 26.1273 95.7272 26.4934C95.7272 26.7832 95.7426 27.0729 95.7736 27.3627C95.8045 27.7135 95.8045 28.0491 95.7736 28.3998Z' fill='white'/%3E%3Cline x1='105.5' y1='97' x2='105.5' y2='336' stroke='white'/%3E%3Cline x1='209.5' y1='97' x2='209.5' y2='336' stroke='white'/%3E%3Cline x1='1.5' y1='97' x2='1.49999' y2='336' stroke='white'/%3E%3Cpath d='M209.5 97.5L149.5 53' stroke='white'/%3E%3Cpath d='M1 97L60.5 53' stroke='white'/%3E%3C/svg%3E%0A");
                                            width: 210px;
                                            height: 336px;
                                            display: inline-block;
                                            vertical-align: middle;
                                            position: absolute;
                                        }
                                        & .vtex-store-components-3-x-imageElement--logo-casasp-magazines{
                                            display: none;
                                        }
                                    }
                                    &:nth-of-type(3){
                                        margin-top: 152px;
                                        margin-bottom: 8px;            
                                        
                                        & .vtex-flex-layout-0-x-flexRow--container-logo-magazines{
                                            left: unset;
                                            top: unset;
                                            
                                            & .vtex-flex-layout-0-x-flexRowContent--container-logo-magazines{
                                                display: flex;
                                                flex-wrap: wrap;
                                                gap: unset;
                                                padding: 0 32px;
                                                
                                                & > .vtex-flex-layout-0-x-stretchChildrenWidth{
                                                    width: 33.3333333333%!important;
                                                    margin-bottom: 24px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}