@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');



.vtex-button__label{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vtex-search-2-x-biggy-autocomplete{
  position: absolute;
  transition: opacity 0.15s ease-in 0.05s, max-height 0.3s ease-out, padding 0.6s ease-out;
  padding: 20px 0 10px 0;
  width: 50% !important;
  background: #fff;
  overflow: auto;
  display: flex;
  left: 30em;
  z-index: 10;
}

.vtex-menu-2-x-styledLinkContainer--amazing-menu-department
#menu-item-dep1 {
  color: #1F6591 !important;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
}

#proceed-to-checkout{
  background: #00A0C6;
  border-radius: 22px;
  border-color: inherit;
  height: 48px;
}

#proceed-to-checkout:after {
  content: 'Finalizar Compra';
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.vtex-product-context-provider
.vtex-slider-layout-0-x-sliderLayoutContainer--shelf{
  max-width: 1133px;
}

/* Link Cep PDP */

.vtex-address-form__postalCode-forgottenURL
.c-link{
  color: #00A0C6 !important;
  position: relative;
  top: -1em;
  font-weight: 500;
  text-decoration: underline; 
}

.vtex-breadcrumb-1-x-container{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  color: #919191;
}

.vtex-breadcrumb-1-x-homeIcon {
  display: none;
}

.vtex-breadcrumb-1-x-homeLink:after {
  content: 'A Casa São Paulo';
}

.vtex-breadcrumb-1-x-link {
  color: #919191;
}

.vtex-product-context-provider
.vtex-flex-layout-0-x-flexRow--shelf{
  margin-top: 72px;
}

.vtex-flex-layout-0-x-flexRowContent--shelf {
  display: flex;
  flex-direction: column;
}

.vtex-flex-layout-0-x-flexRowContent--shelf
.vtex-rich-text-0-x-container--shelf-title{
  display: none;
}

.vtex-product-context-provider
.vtex-flex-layout-0-x-flexRowContent--shelf 
.vtex-flex-layout-0-x-stretchChildrenWidth {
    width: 100% !important;
}

.vtex-product-context-provider
.vtex-flex-layout-0-x-flexRowContent--shelf 
.vtex-rich-text-0-x-container--shelf-title{
  display: block !important;
}

.vtex-product-context-provider
.vtex-rich-text-0-x-paragraph--shelf-title {
  display: flex !important;
  justify-content: center !important;  
  font-family: 'Red Hat Display' !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 110% !important;
}

.vtex-product-context-provider
.vtex-slider-layout-0-x-sliderLayoutContainer--shelf{
  margin-top: 20px;
}

.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar {
  width: 12px;
}


.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar-track {
  width: 2px;
  height: 20px;
  background: #fff;
}

.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar-thumb {
  background-color: #1F6591;
  border-radius: 20px;       
  border: 3px solid #1F6591;
  height: 10px;
}

.vtex-store-components-3-x-logoContainer--logo-casaSP {
  padding: 0 !important;
}
.vtex-product-context-provider p,
.vtex-product-context-provider li span{
  font-family: 'Red Hat Display' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 140% !important;
}

.vtex-product-context-provider h4 {
  font-family: 'Red Hat Display' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  align-items: center;
}

#menu-item-dep1::before {
  content: '';
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/icon-diretoria.svg") no-repeat;
  position: relative;
  top: 3px;
  padding-right: 10px;
}

#menu-item-dep1 {
  display: flex;
}

/*Order place button*/

.mt4 .vtex-button,
.mt5 .vtex-button {
  height: 48px !important;
  width: 250px;
  background: #1f6592;
  border: #1f6592;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-cancelOrderButton
.vtex-button{
  display: none !important;
}

.vtex-order-placed-2-x-updateOrderButton
.vtex-button{
  height: 48px !important;
  width: 250px;
  background: #1f6592;
  border: #1f6592;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-myOrdersButton
.vtex-button{
  height: 48px !important;
  width: 250px;
  background: #1f6592;
  border: #1f6592;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-updateOrderButton
.vtex-button:hover{
  background-color: #00A0C6;
}

.vtex-order-placed-2-x-myOrdersButton
.vtex-button:hover{
  background-color: #00A0C6 ;
}

.vtex-order-placed-2-x-section--deliveryPackages{
  border-color: #fff;
  background: #fff;
  padding: 10px 40px;
  border-radius: 5px 5px 0 0;
}

.vtex-order-placed-2-x-totalListWrapper{
  background: #fff;
  border: #fff;
  padding: 10px 40px;
  border-radius: 0 0 5px 5px;
}


/* -- - - - - - - - - -  */
.vtex-store-components-3-x-searchBarInnerContainer--filled .vtex-search-2-x-itemList--suggestion {
  display: none !important;
}

.vtex-store-components-3-x-searchBarContainer .vtex-search-2-x-tileListList {
  flex-direction: column !important;
  padding: 0 16px;
  margin-bottom: 0;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-element {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-imageContainer {
  width: 64px;
  height: 100%;
  margin-right: 21px;
  max-height: 72px;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-information {
  width: 100%;
}

.vtex-store-components-3-x-searchBarContainer .vtex-store-components-3-x-discountInsideContainer {
  display: none !important;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-imageNormal {
  width: 100%;
  height: 100%;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-nameContainer {
  padding: 0;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-productBrand {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #3A3A3A;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 39px;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-priceContainer {
  display: none;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-buyButtonContainer {
  display: none !important;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListTitle {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListLink {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListPrefix {
  color: #3A3A3A;
  font-family: 'Red Hat Display';
  font-weight: 400;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-tileListTitle {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-tileListSeeMore {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block {
  padding: 20px 64px;
}

.vtex-menu-2-x-submenu--amazing-menu-department-submenu-1 {
  display: flex;
  justify-content: space-between;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block {
  padding: 20px 64px;
  display: flex;
  justify-content: start;
  border-right: 1px solid #0001;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth:first-child {
  width: 100% !important;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth:last-child {
  width: 34% !important;
  position: absolute;
  right: 0;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-flexRow--container-amazing-shel {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  border-left: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-flex-layout-0-x-flexRowContent--container-marcas-menu .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
  position: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-flex-layout-0-x-flexRowContent--container-marcas-menu .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 33% !important;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-flexRow--container-amazing-shelf {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  border-left: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth:last-child .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
  position: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--container-marcas-menu .vtex-store-components-3-x-imageElement {
  border: 2px solid transparent;
  border-radius: 5px;
}

.vtex-menu-2-x-menuItem .vtex-flex-layout-0-x-flexRow--container-amazing-shelf .vtex-product-summary-2-x-element--summary-shelf .vtex-stack-layout-0-x-stackContainer {
  width: 72px;
  height: 72px;
  position: inherit;
}

.vtex-menu-2-x-menuItem .vtex-store-components-3-x-discountContainer {
  position: inherit;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-container--summary-shelf .vtex-product-summary-2-x-nameContainer {
  margin-left: 0!important;
  padding: 0!important;
  justify-content: flex-start;
  position: relative;
  left: -36px;
  width: 150px;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items {
  width: 100%;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items .vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block-items {
  width: 100%;
  padding: 0 64px;
  display: flex;
  justify-content: start;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items .vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block-items > .vtex-flex-layout-0-x-stretchChildrenWidth:last-child {
  width: 34% !important;
  position: absolute;
  right: 0;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items .vtex-flex-layout-0-x-flexRow--container-amazing-shelf .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
}

.vtex-menu-2-x-menuItem .vtex-store-components-3-x-discountInsideContainer {
  position: absolute;
  border-radius: 2px;
  padding: 3px 12px;
  left: 0;
  right: inherit;
  top: 0;
  border-bottom-right-radius: 0;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-element--summary-shelf .vtex-button__label::after {
  display: none !important;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-container--summary-shelf .vtex-product-summary-2-x-productBrand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 74px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #3A3A3A;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-clearLink--summary-shelf {
  position: relative;
}

.vtex-rich-text-0-x-container--produtovendidoeentregue{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.vtex-store-components-3-x-shippingTableCellDeliveryPrice 
.vtex-store-components-3-x-currencyContainer {
  font-size: 14px;
}

// Cookies

.vtex-cookies-button {
  align-self: center;
  margin-left: 80px;
}

.vtex-cookies {
  position: fixed;
  width: 795px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 13%);
  padding: 20px 32px;
  z-index: 99999999;
  right: 40px;
  bottom: 16px;
}

.vtex-cookies-container {
  display: flex;
}

.vtex-cookies-container-text {
  width: 481px;
  color: #3a3a3a;
  font-family: Red Hat Display,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.vtex-cookies-button-link {
  display: block;
  width: 168px;
  height: 38px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-size: 12px;
  background: #1F6591;
  border-radius: 22px;
  line-height: 38px;
}

.vtex-cookies-container-link {
  color: #1F6591;
}


// Box Menu institucionais

.vtex-select-option-link{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #3a3a3a;
  text-decoration: none;
}

.vtex-institucional-box-selection-Desk ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
}
.vtex-flex-layout-0-x-flexRow--container-principal-entrega,
.vtex-flex-layout-0-x-flexRow--container-principal {
  padding: 100px 0; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.vtex-flex-layout-0-x-flexRow--container-pol-entrega,
.vtex-flex-layout-0-x-flexRow--container-pol-privacidade {
  max-width: 890px;
  margin-left: 118px;
}

.vtex-institucional-box-selection-Desk {
  padding: 24px;
  display: flex;
  border: 1px solid #0001;
  border-radius: 5px;
}

.vtex-institucional-content_container {
  width: 200px;
  margin: 0px;
}

.vtex-flex-layout-0-x-flexRowContent--container-pol-entrega,
.vtex-flex-layout-0-x-flexRowContent--container-pol-privacidade {
  margin-left: 100px;
  max-width: 890px;
}

.vtex-select-option-link:hover{
  color: #1F6591 !important;
}


.vtex-institucional-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.vtex-institucional-form_container input {
  height: 48px;
  border-radius: 116px;
  border: 1px solid #E0E0E0;
  padding-left: 30px;
}

.vtex-institucional-form_container textarea{
  height: 150px;
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  padding-top: 10px;
  padding-left: 30px;
}

.flex.flex-grow-1.w-100.flex-column {
  background: #fff;
}

.vtex-institucional-form_container form {
  display: flex;
  flex-direction: column;
}

.vtex-institucional-form_container form label{
  font-family: 'Red Hat Display';
  padding-top: 32px ;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3a3a3a;
}

.vtex-institucional-form_container form button{
  margin-top : 32px;
  width: 260px;
  height: 48px;
  border-radius: 60px;
  color: #fff;
  background: #1F6591;
  font-weight: 700;
  font-family: 'Red Hat Display';
  border: inherit;
  margin-bottom: 100px;
}


.vtex-institucional-content_title {
  display: flex;
  justify-content: center;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #3a3a3a;
  padding-top: 70px ;
}

@media (max-width: 768px) {
  .vtex-flex-layout-0-x-flexRow--news-bottom .vtex-store-components-3-x-container {
    width: 100% !important;
  }

  .vtex-flex-layout-0-x-flexRow--news-bottom .vtex-store-components-3-x-inputGroup--name-input {
    left: 0 !important;
  }

  .vtex-flex-layout-0-x-flexRow--news-bottom .vtex-store-components-3-x-container--email-input {
    left: 0;
    width: 100%;
  }

  .vtex-flex-layout-0-x-flexRow--news-bottom .vtex-store-components-3-x-inputGroup--email-input {
    width: 100% !important;
  }

  .vtex-flex-layout-0-x-flexRowContent--container-links-rapidos {
    padding: 23px 30px !important;
  }

  .vtex-store-components-3-x-buttonContainer--email-input {
    padding-top: 24px;
  }

  body .vtex-flex-layout-0-x-flexRow--container-principal-footer {
    margin: 16px !important;
  }

  body .vtex-flex-layout-0-x-flexCol--footer-col-right {
    flex-direction: column;
  }

  .vtex-flex-layout-0-x-flexCol--footer-columns-three .vtex-flex-layout-0-x-flexColChild {
    width: 100%;
  }

  .vtex-flex-layout-0-x-flexColChild--footer-col-right {
    width: 100%;
  }

  .vtex-flex-layout-0-x-flexRow--container-formas-pagamento {
    width: 100%;
  }

  body .vtex-flex-layout-0-x-flexRowContent--container-formas-pagamento .vtex-flex-layout-0-x-stretchChildrenWidth {
    justify-content: center !important;
  }

  .vtex-flex-layout-0-x-flexColChild--footer-col-right .vtex-rich-text-0-x-container {
    justify-content: center !important;
    align-items: center;
    align-content: center;
  }

  .vtex-flex-layout-0-x-flexCol--footer-columns-two {
    margin-top: 12px;
  }

  .vtex-flex-layout-0-x-flexCol--footer-columns-three .vtex-flex-layout-0-x-flexColChild {
    width: 100%;
    justify-content: center;
  }

  body .vtex-flex-layout-0-x-flexRowContent--container-copyright .vtex-flex-layout-0-x-stretchChildrenWidth {
    width: 100% !important;
  }

  body .vtex-flex-layout-0-x-flexRowContent--container-copyright .vtex-flex-layout-0-x-stretchChildrenWidth:first-child {
    width: 100% !important;
  }

  .vtex-flex-layout-0-x-flexRowContent--container-links-rapidos .vtex-store-link-0-x-link {
    justify-content: start !important;
    padding: 0 !important;
  }
}

@media (min-width: 768px) {

  .vtex-store-components-3-x-searchBarInnerContainer {
    z-index: 999;
  }

  .vtex-store-components-3-x-searchBarInnerContainer .vtex-input {
    z-index: 999;
  }

  .vtex-store-components-3-x-portalContainer {
    z-index: 99 !important;
    top: -14px !important;
  }

  .vtex-search-2-x-biggy-autocomplete-wrapper {
    width: 480px !important;
  }

  .vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-biggy-autocomplete {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex-direction: row;
    left: -24px!important;
    position: inherit;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 100% !important;
  }

}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block-items{
  & > .vtex-flex-layout-0-x-stretchChildrenWidth {
    margin-top: 56px;
    
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:last-of-type{
      margin-top: 0!important;
    }
    
    
    .vtex-flex-layout-0-x-flexRow--container-amazing-shelf{
      border-left: 1px solid #0001;
      padding: unset!important;
      margin-left: unset!important;
    }
  }
}

// .vtex-store-components-3-x-imageElement{
//   max-width: 100% !important;
// }

.vtex-button__label{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vtex-search-2-x-biggy-autocomplete{
  position: absolute;
  transition: opacity 0.15s ease-in 0.05s, max-height 0.3s ease-out, padding 0.6s ease-out;
  padding: 20px 0 10px 0;
  width: 50% !important;
  background: #fff;
  overflow: auto;
  display: flex;
  left: 30em;
  z-index: 10;
}

.vtex-menu-2-x-styledLinkContainer--amazing-menu-department
#menu-item-dep1 {
  color: #1F6591 !important;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
}

#proceed-to-checkout{
  background: #00A0C6;
  border-radius: 22px;
  border-color: inherit;
  height: 48px;
}

#proceed-to-checkout:after {
  content: 'Finalizar Compra';
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.vtex-product-context-provider
.vtex-slider-layout-0-x-sliderLayoutContainer--shelf{
  max-width: 1133px;
}

/* Link Cep PDP */

.vtex-address-form__postalCode-forgottenURL
.c-link{
  color: #00A0C6 !important;
  position: relative;
  top: -1em;
  font-weight: 500;
  text-decoration: underline; 
}

.vtex-breadcrumb-1-x-container{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  color: #919191;
}

.vtex-breadcrumb-1-x-homeIcon {
  display: none;
}

.vtex-breadcrumb-1-x-homeLink:after {
  content: 'A Casa São Paulo';
}

.vtex-menu-2-x-styledLink{
  color: #727273;
}

.vtex-breadcrumb-1-x-link {
  color: #919191;
}

.vtex-slider-layout-0-x-slide--shelf{
  margin: 0 7px;
}

.vtex-product-context-provider
.vtex-flex-layout-0-x-flexRow--shelf{
  margin-top: 72px;
}

.vtex-flex-layout-0-x-flexRowContent--shelf {
  display: flex;
  flex-direction: column;
}

.vtex-flex-layout-0-x-flexRowContent--shelf
.vtex-rich-text-0-x-container--shelf-title{
  display: none;
}

.vtex-product-context-provider
.vtex-flex-layout-0-x-flexRowContent--shelf 
.vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
}

.vtex-product-context-provider
.vtex-flex-layout-0-x-flexRowContent--shelf 
.vtex-rich-text-0-x-container--shelf-title{
  display: block !important;
}

.vtex-product-context-provider
.vtex-rich-text-0-x-paragraph--shelf-title {
  display: flex !important;
  justify-content: center !important;  
  font-family: 'Red Hat Display' !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 110% !important;
}

.vtex-product-context-provider
.vtex-slider-layout-0-x-sliderLayoutContainer--shelf{
  margin-top: 20px;
}

.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar {
  width: 12px;
}


.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar-track {
  width: 2px;
  height: 20px;
  background: #fff;
}

.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar-thumb {
  background-color: #1F6591;
  border-radius: 20px;       
  border: 3px solid #1F6591;
  height: 10px;
}

.vtex-store-components-3-x-logoContainer--logo-casaSP {
  padding: 0 !important;
}

.vtex-product-context-provider h4 {
  font-family: 'Red Hat Display' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  align-items: center;
}

#menu-item-dep1::before {
  content: '';
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/icon-diretoria.svg") no-repeat;
  position: relative;
  top: 3px;
  padding-right: 10px;
}

#menu-item-dep1 {
  display: flex;
}

/*Order place button*/

.mt4 .vtex-button,
.mt5 .vtex-button {
  height: 48px !important;
  width: 250px;
  background: #1f6592;
  border: #1f6592;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-cancelOrderButton
.vtex-button{
  height: 48px !important;
  width: 250px;
  background: red ;
  border: red;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-updateOrderButton
.vtex-button{
  height: 48px !important;
  width: 250px;
  background: #1f6592;
  border: #1f6592;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-myOrdersButton
.vtex-button{
  height: 48px !important;
  width: 250px;
  background: #1f6592;
  border: #1f6592;
  border-radius: 0 !important;
  color: #fff;
  font-weight: 700;
  justify-content: center;
}

.vtex-order-placed-2-x-updateOrderButton
.vtex-button:hover{
  background-color: #00A0C6;
}

.vtex-order-placed-2-x-cancelOrderButton
.vtex-button:hover{
  background-color: #ff0000c2;
}

.vtex-order-placed-2-x-myOrdersButton
.vtex-button:hover{
  background-color: #00A0C6 ;
}

.vtex-store-components-3-x-searchBarInnerContainer--filled .vtex-search-2-x-itemList--suggestion {
  display: none !important;
}

.vtex-store-components-3-x-searchBarContainer .vtex-search-2-x-tileListList {
  flex-direction: column !important;
  padding: 0 16px;
  margin-bottom: 0;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-element {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-imageContainer {
  width: 64px;
  height: 100%;
  margin-right: 21px;
  max-height: 72px;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-information {
  width: 100%;
}

.vtex-store-components-3-x-searchBarContainer .vtex-store-components-3-x-discountInsideContainer {
  display: none !important;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-imageNormal {
  width: 100%;
  height: 100%;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-nameContainer {
  padding: 0;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-productBrand {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #3A3A3A;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 39px;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-priceContainer {
  display: none;
}

.vtex-store-components-3-x-searchBarContainer .vtex-product-summary-2-x-buyButtonContainer {
  display: none !important;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListTitle {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListLink {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListPrefix {
  color: #3A3A3A;
  font-family: 'Red Hat Display';
  font-weight: 400;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-tileListTitle {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}

.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-tileListSeeMore {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block {
  padding: 20px 64px;
}

.vtex-menu-2-x-submenu--amazing-menu-department-submenu-1 {
  display: flex;
  justify-content: space-between;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block {
  padding: 20px 64px;
  display: flex;
  justify-content: start;
  border-right: 1px solid #0001;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth:first-child {
  width: 100% !important;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth:last-child {
  width: 34% !important;
  position: absolute;
  right: 0;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-flexRow--container-amazing-shel {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  border-left: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-flex-layout-0-x-flexRowContent--container-marcas-menu .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
  position: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-flex-layout-0-x-flexRowContent--container-marcas-menu .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 33% !important;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-flexRow--container-amazing-shelf {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  border-left: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block .vtex-flex-layout-0-x-stretchChildrenWidth:last-child .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
  position: inherit;
}

.vtex-flex-layout-0-x-flexRowContent--container-marcas-menu .vtex-store-components-3-x-imageElement {
  border: 2px solid transparent;
  border-radius: 5px;
}

.vtex-menu-2-x-menuItem .vtex-flex-layout-0-x-flexRow--container-amazing-shelf .vtex-product-summary-2-x-element--summary-shelf .vtex-stack-layout-0-x-stackContainer {
  width: 72px;
  height: 72px;
  position: inherit;
}

.vtex-menu-2-x-menuItem .vtex-store-components-3-x-discountContainer {
  position: inherit;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-container--summary-shelf .vtex-product-summary-2-x-nameContainer {
  margin-left: 0!important;
  padding: 0!important;
  justify-content: flex-start;
  position: relative;
  left: -36px;
  width: 150px;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items {
  width: 100%;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items .vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block-items {
  width: 100%;
  padding: 0 64px;
  display: flex;
  justify-content: start;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items .vtex-flex-layout-0-x-flexRowContent--amazing-menu-department-block-items > .vtex-flex-layout-0-x-stretchChildrenWidth:last-child {
  width: 34% !important;
  position: absolute;
  right: 0;
}

.vtex-flex-layout-0-x-flexRow--amazing-menu-department-block-items .vtex-flex-layout-0-x-flexRow--container-amazing-shelf .vtex-flex-layout-0-x-stretchChildrenWidth {
  width: 100% !important;
}

.vtex-menu-2-x-menuItem .vtex-store-components-3-x-discountInsideContainer {
  position: absolute;
  border-radius: 2px;
  padding: 3px 12px;
  left: 0;
  right: inherit;
  top: 0;
  border-bottom-right-radius: 0;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-element--summary-shelf .vtex-button__label::after {
  display: none !important;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-container--summary-shelf .vtex-product-summary-2-x-productBrand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 74px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #3A3A3A;
}

.vtex-menu-2-x-menuItem .vtex-product-summary-2-x-clearLink--summary-shelf {
  position: relative;
}

@media (min-width: 1025px) {
  .vtex-store-components-3-x-searchBarInnerContainer {
    z-index: 999;
  }
  
  .vtex-store-components-3-x-searchBarInnerContainer .vtex-input {
    z-index: 999;
  }
  
  .vtex-store-components-3-x-portalContainer {
    z-index: 99 !important;
    top: -14px !important;
  }
  
  .vtex-search-2-x-biggy-autocomplete-wrapper {
    width: 480px !important;
  }
  
  .vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-biggy-autocomplete {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex-direction: row;
    left: -24px!important;
    position: inherit;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 100% !important;
  }
}