@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

:global(.vtex-slider-layout-0-x-paginationDotsContainer) {
  bottom: -20px;
  display: flex;
  gap: 10px;
}

:global(.vtex-flex-layout-0-x-flexRow--container-vitrine-maisvendidos) :global(.vtex-slider-layout-0-x-slide--shelf) {
  margin-right: 11px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf):hover {
  filter: drop-shadow(0px 4px 20px rgba(31, 101, 145, 0.32));
}

:global(.vtex-slider-layout-0-x-paginationDot) {
  background: #919191;
}

:global(.vtex-slider-layout-0-x-paginationDot--carousel--isActive) {
  background: #00a0c6 !important;
}

:global(.vtex-slider-layout-0-x-caretIcon--shelf),
:global(.vtex-slider-layout-0-x-sliderArrows--carousel) {
  background: #fff !important;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

:global(.vtex-slider-layout-0-x-sliderLeftArrow--shelf)::after,
:global(.vtex-slider-layout-0-x-sliderLeftArrow--carousel)::after {
  content: "";
  display: block;
  width: 21px;
  height: 13.5px;
  background: url("assets/icons/icon-left.svg") no-repeat;
  background-size: 100%;
}

:global(.vtex-slider-layout-0-x-sliderRightArrow--shelf)::after,
:global(.vtex-slider-layout-0-x-sliderRightArrow--carousel)::after {
  content: "";
  display: block;
  width: 21px;
  height: 13.5px;
  background: url("assets/icons/icon-right.svg") no-repeat;
  background-size: 100%;
}

:global(.vtex-slider-layout-0-x-caretIcon--shelf),
:global(.vtex-slider-layout-0-x-caretIcon--carousel) {
  display: none;
}

:global(.vtex-store-components-3-x-imageElement--banner-lojasbr) {
  max-width: 1200px;
}

:global(.vtex-flex-layout-0-x-flexRow--container-banners-lojasbr) {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 58px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-banners-lojasbr) {
  display: flex;
  justify-content: center;
  background: linear-gradient(271.89deg, rgba(0, 160, 198, 0.54) -4.04%, #1f6591 102.35%);
  border-radius: 5px;
  height: 223px;
  align-items: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-text-grupo)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

/*teste containar banner*/

:global(.vtex-flex-layout-0-x-flexRowContent--container-text-grupo) {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

:global(.vtex-rich-text-0-x-paragraph--text-grupo) {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

:global(.vtex-rich-text-0-x-paragraph--text-grupo) :global(.vtex-bold) {
  color: #fff;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

:global(.vtex-rich-text-0-x-paragraph--text-ligue-agora) {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

:global(.vtex-rich-text-0-x-paragraph--text-ligue-agora) :global(.vtex-bold) {
  color: #8eecec;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  position: relative;
  left: 50px;
}

:global(.vtex-rich-text-0-x-paragraph--text-ligue-agora) :global(.vtex-bold)::after {
  content: "";
  width: 40px;
  height: 40px;
  background: url("assets/icons/icon-tell.svg") no-repeat;
  background-size: 100%;
  display: inline-flex;
  position: relative;
  right: 7.5em;
  top: 7px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-locais),
:global(.vtex-flex-layout-0-x-flexRowContent--container-locais2),
:global(.vtex-flex-layout-0-x-flexRowContent--container-locais3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 162px;
  width: 245px;
  border-radius: 5px;
  position: relative;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-logo-locais),
:global(.vtex-flex-layout-0-x-flexRowContent--container-logo-locais2),
:global(.vtex-flex-layout-0-x-flexRowContent--container-logo-locais3) {
  position: absolute;
  left: 0px;
  top: 30%;
}

:global(.vtex-store-link-0-x-label--btn-localizar),
:global(.vtex-store-link-0-x-label--btn-localizar2),
:global(.vtex-store-link-0-x-label--btn-localizar3) {
  position: absolute;
  bottom: 1em;
  left: 5.5em;
  background: #1f6591;
  border-radius: 22px;
  width: 115px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-locais)::before,
:global(.vtex-flex-layout-0-x-flexRowContent--container-locais2)::before,
:global(.vtex-flex-layout-0-x-flexRowContent--container-locais3)::before {
  content: "";
  width: 48px;
  height: 48px;
  background: url(assets/icons/icon-locais.svg) no-repeat;
  background-size: 100%;
  position: relative;
  top: -24px;
}

:global(.vtex-store-components-3-x-imageElement--logo-whats) {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
  z-index: 999;
}

:global(.vtex-rich-text-0-x-container--text-destaque),
:global(.vtex-rich-text-0-x-container--text-maisvendidos),
:global(.vtex-rich-text-0-x-container--text-precos-imbativeis),
:global(.vtex-store-link-0-x-link--link-vertudo) {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

:global(.vtex-rich-text-0-x-paragraph--text-destaque),
:global(.vtex-rich-text-0-x-paragraph--text-maisvendidos),
:global(.vtex-rich-text-0-x-paragraph--text-precos-imbativeis) {
  margin: 0;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

:global(.vtex-flex-layout-0-x-flexRow--container-banners-duplo) {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-banners-duplo) {
  gap: 16px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-title-precogarantido),
:global(.vtex-flex-layout-0-x-flexRowContent--container-title-precos-imbativeis),
:global(.vtex-flex-layout-0-x-flexRowContent--title-sobrecasasp) {
  display: flex;
  flex-direction: column;
}

:global(.vtex-rich-text-0-x-paragraph--text-precos-imbativeis) {
  margin: 0 !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-title-precogarantido)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRow--container-title-multi-estagios)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRowContent--container-title-precos-imbativeis)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRowContent--title-sobrecasasp) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-title-precos-imbativeis),
:global(.vtex-flex-layout-0-x-flexRowContent--container-title-multi-estagios) {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

:global(.vtex-rich-text-0-x-paragraph--text-precos-imbativeis) {
  margin: 0 !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-title-precos-imbativeis) {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

:global(.vtex-store-link-0-x-label--link-vertudo) {
  font-size: 14px;
  font-family: "Red Hat Display";
  font-weight: 500;
  color: #1f6591;
  text-decoration: underline;
}

:global(.vtex-rich-text-0-x-container--text-multi-estagios-mais-vendidas),
:global(.vtex-rich-text-0-x-container--text-precogarantido) {
  justify-content: center;
  margin: 0;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

:global(.vtex-store-components-3-x-imageElement--banner-magazines) {
  max-width: 1200px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-title-multi-estagios) {
  padding-top: 0;
}

:global(.vtex-rich-text-0-x-paragraph) {
  margin: 0;
}

/* Sobre a casa SP*/

:global(.vtex-rich-text-0-x-container--text-title-casasp) {
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--title-sobrecasasp) {
  padding: 44px 0 55px;
  background: #fff;
}

:global(.vtex-rich-text-0-x-paragraph--text-title-casasp) {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 24px;
  color: #3a3a3a;
}

:global(.vtex-rich-text-0-x-paragraph--content-sobre-casasp) {
  text-align: center;
  padding: 0 22%;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #919191;
}

/*Vitrines Home*/

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque),
:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-maisvendidos),
:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-precos-imbativeis),
:global(.vtex-flex-layout-0-x-flexRowContent--container-estagios-maisvendidas),
:global(.vtex-flex-layout-0-x-flexRowContent--container-preco-garantido) {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-preco-garantido)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-precos-imbativeis)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-maisvendidos)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
:global(.vtex-flex-layout-0-x-flexRowContent--container-estagios-maisvendidas)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
  max-width: 1112px;
  margin: 0 auto;
}

:global(.vtex-slider-layout-0-x-paginationDot--shelf--isActive)::after {
  width: 18px;
  height: 18px;
  display: block;
  content: "";
  position: relative;
  top: -9px;
  left: -9px;
  border: 1px solid #00a0c6;
  border-radius: 50%;
  background: transparent;
}

:global(.vtex-slider-layout-0-x-paginationDot--shelf--isActive) {
  background-color: #00a0c6;
}

:global(.vtex-address-form-4-x-input) {
  background: #f4f5f5;
}

/*Vitrines Destaque*/

:global(.vtex-flex-layout-0-x-flexRow--container-vitrine-destaque) :global(.vtex-product-summary-2-x-image) {
  width: 72px !important;
}

:global(.vtex-store-components-3-x-listPriceValue) :global(.vtex-store-components-3-x-currencyContainer) {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
  color: #3a3a3a;
  opacity: 0.7;
}
/*
:global(.vtex-flex-layout-0-x-flexRow--container-vitrine-destaque)
:global(.vtex-slider-layout-0-x-slide--shelf){
  padding-right: 24px;
}
*/

/* Container Magazines*/

:global(.vtex-flex-layout-0-x-flexRow--container-bannermagazines) {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(271.89deg, rgba(0, 160, 198, 0.54) -4.04%, #1f6591 102.35%);
  border-radius: 5px;
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-bannermagazines) {
  padding: 40px 0;
  position: relative;
  max-width: 1133px;
}

:global(.vtex-rich-text-0-x-container--text-fornecedor-oficial) {
  display: flex;
  align-items: center;
  position: relative;
  left: -5em;
}

:global(.vtex-rich-text-0-x-paragraph--text-fornecedor-oficial) {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #fff;
  width: 250px;
}

:global(.vtex-rich-text-0-x-paragraph--text-fornecedor-oficial) :global(.vtex-bold) {
  font-weight: 700 !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-logo-magazines) :global(.vtex-flex-layout-0-x-flexRow) {
  display: flex;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 5px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-logo-magazines) {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

:global(.vtex-flex-layout-0-x-flexRow--container-bannermagazines)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2n) {
  width: 90% !important;
}

:global(.vtex-flex-layout-0-x-flexRow--container-bannermagazines)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 100% !important;
}

:global(.vtex-store-components-3-x-imageElement--logo-casasp-magazines) {
  position: absolute;
  top: 20px;
  left: 13em;
  width: 86% !important;
}

:global(.vtex-flex-layout-0-x-flexRow--container-logo-magazines) {
  position: relative;
  left: 6em;
  top: 1px;
}

:global(.vtex-menu-2-x-styledLinkContainer--amazing-menu-department) {
  position: relative;
}

/*Container arrows*/

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-maisvendidos)
  :global(.vtex-flex-layout-0-x-flexRow--container-shelf-fouritens)
  :global(.vtex-slider-layout-0-x-sliderRightArrow--shelf) {
  right: -20px !important;
}
@media only screen and (max-width: 780px) {
  :global(.vtex-rich-text-0-x-paragraph--content-sobre-casasp) {
    padding: 0 5%;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-title-casasp){
    font-size: 21px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-precogarantido) {
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-maisvendidos)
  :global(.vtex-product-summary-2-x-container--summary-shelf) {
    height: 100%!important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-shelf-fouritens) {
    width: 100%!important;
    padding-left: 14px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-vitrine-maisvendidos)
  :global(.vtex-slider-layout-0-x-sliderRightArrow--shelf) {
    display: none;
  }
  :global(.vtex-product-summary-2-x-container--summary-shelf)
  :global(.vtex-product-summary-2-x-productBrand) {
    font-size: 12px!important;
    line-height: 133%!important;
    color: #3a3a3a!important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-maisvendidos) {
    padding-top: 0px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-maisvendidos) {
    font-size: 21px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-vitrine-maisvendidos)
  :global(.vtex-slider-layout-0-x-sliderLeftArrow--shelf) {
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-vitrine-maisvendidos)
  :global(.vtex-slider-layout-0-x-slide--shelf) {
    margin-right: 13px;
    padding-left: 0!important;
    padding-right: 0!important;
    overflow: hidden;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
  :global(.vtex-store-components-3-x-discountInsideContainer)::before {
    content: 'OFF';
    font-size: 10px;
    color: white;
    position: absolute;
    right: 1px;
    top: 2px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-banners-lojasbr) {
    gap: 16px;
    overflow-y: hidden;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-banners-lojasbr) :global(.vtex-store-components-3-x-container) {
    position: relative;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-banners-lojasbr) {
    display: flex;
    background: linear-gradient(271.89deg, rgba(0, 160, 198, 0.54) -4.04%, #1f6591 102.35%);
    border-radius: 5px;
    align-items: flex-end;
    height: 417px;
    padding-bottom: 20px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 351px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-banners-lojasbr) {
     MARGIN-TOP: inherit!important; 
    padding-top: 50px!important;
  }
  :global(.vtex-slider-layout-0-x-sliderRightArrow--shelf) {
    right: -15px!important;
    width: 24px!important;
    height: 24px!important;
    padding-top: 8px;
  }
  :global(.vtex-slider-layout-0-x-sliderLeftArrow--shelf) {
    left: inherit!important;
    background: #fff!important;
    height: 24px!important;
    width: 24px!important;
    border-radius: 50%!important;
    padding-top: 6px!important;
  }
  :global(.vtex-slider-layout-0-x-sliderRightArrow--shelf) {
   left: 90%!important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-banners-lojasbr) {
   
    MARGIN-TOP: 24PX;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-grupo) {
    font-size: 16px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-ligue-agora) {

   margin-top: 9px;
  }
 
  :global(.vtex-flex-layout-0-x-flexRowContent--container-text-grupo) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1px;
    right: 1px;
    padding-left: 35px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--container-banners-lojasbr)
  :global(.vtex-store-components-3-x-container) {
    padding-left: 9px!important;
  }
  :global(.vtex-slider-layout-0-x-sliderRightArrow--carousel)::after {
    width: 14px;
    height: 13.5px;
  }
  :global(.vtex-store-components-3-x-imageElement--logo-whats) {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 168px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-banners-duplo) {
    padding: 0px 10px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--container-banners-left) {
    margin-bottom: 10px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-precos-imbativeis) {
    font-size: 21px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
  :global(.vtex-store-components-3-x-discountInsideContainer) {
    
    background: #00A0C6!important;
    right: -135px!important;
    padding-left: 3px;
    padding: 0;
    width: 45px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px!important;
    top: -2px!important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
  :global(.vtex-product-summary-2-x-brandName) {
    margin-top: 33px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
  :global(.vtex-product-summary-2-x-container--summary-shelf)
  :global(.vtex-button) {
    background: #1F6591!important;
    border-radius: 22px!important;
    width: 109px!important;
    height: 42px!important;
    margin: 38px 0px 0 9px!important;
    border-color: inherit;
  }
  :global(.vtex-slider-layout-0-x-sliderArrows--carousel) {
  background: #fff!important;
  height: 24px;
  width: 24px;
  display: flex;
  border-radius: 100%;
  padding-top: 6px;
  }

  :global(.vtex-rich-text-0-x-paragraph--text-grupo) {
    text-align: center;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-ligue-agora) :global(.vtex-bold) { 
    color: #8eecec;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    position: relative;
    left: 75px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-ligue-agora)
  :global(.vtex-bold)::after{
    width: 29px;
    height: 31px;
  }
  :global(.vtex-rich-text-0-x-container--text-ligue-agora) {
    display: flex;
    justify-content: center;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-precos-imbativeis) {
    padding-top: 15px;
  }
  :global(.vtex-rich-text-0-x-container--text-precos-imbativeis) {
    margin-bottom: 4px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-multi-estagios-mais-vendidas) {
    font-size: 21px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
