:global(.vtex-store-components-3-x-productBrand--quickview){
  font-family: 'Red Hat Display' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 130% !important;
  color: #3a3a3a;

}

:global(.vtex-numeric-stepper__minus-button ){
  background: none;
}

:global(.vtex-numeric-stepper__input){
  border-left: 0;
  border-right: 0;
}

:global(.vtex-numeric-stepper__plus-button ){
  background: none;
}

:global(.vtex-store-components-3-x-carouselGaleryThumbs--product-thumbs ){
  width: 64px !important;
}

:global(.vtex-product-quantity-1-x-quantitySelectorTitle ){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #9a9a9a;
}

:global(.vtex-store-components-3-x-currencyContainer ){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 150%;
  color: #1F6591;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-container-top ){
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-container-top ){
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRow--product-container-addtocart),
:global(.vtex-flex-layout-0-x-flexRowContent--itens-top) 
:global(.vtex-flex-layout-0-x-flexCol--wishlist-shelf ){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-cep ){
  display: flex;
  position: relative;
}

:global(.vtex-breadcrumb-1-x-container ){
  max-width: 1207px !important;
  margin-top: 10px;
}

:global(.vtex-product-summary-2-x-productNameContainer ){
  display: flex;
  text-align: left;
}

:global(.vtex-product-summary-2-x-container--summary-shelf)
:global(.vtex-button){
  background: #1F6591 !important;
  border-radius: 22px !important;
  width: 100% !important;
  border-color: inherit;
  margin: 10px 0 ;
}

:global(.vtex-store-components-3-x-sellingPriceValue){
  padding-left: 0 !important;
}

:global(.vtex-product-summary-2-x-container--summary-shelf )
:global(.vtex-add-to-cart-button-0-x-buttonDataContainer)::after{
  content: 'Adicionar';
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase !important;
}

:global(.vtex-product-summary-2-x-container--summary-shelf )
:global(.vtex-add-to-cart-button-0-x-buttonDataContainer){
  display: none !important;
}

:global(.vtex-product-summary-2-x-element--summary-shelf)
:global(.vtex-button__label)::before{
  content: 'Adicionar';
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase !important;
}

:global(.vtex-product-summary-2-x-element--summary-shelf)
:global(.vtex-button__label)::after{
  content: '';
  width: 20px;
  height: 20px;
  background: url("assets/icons/icon-cart-shelf.svg") no-repeat;
  background-size: 100%;
  position: relative;
  left: 10px;
  top: 0px;
}

:global(.vtex-product-summary-2-x-container--summary-shelf )
:global(.vtex-product-summary-2-x-productBrand){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #3a3a3a;
}

:global(.vtex-slider-layout-0-x-sliderLeftArrow--shelf)::after{
  content: '';
  display: block;
  width: 21px;
  height: 13.5px;
  background: url('assets/icons/icon-left.svg') no-repeat;
  background-size: 100%;
}

:global(.vtex-slider-layout-0-x-sliderLeftArrow--shelf){
  left: -50px;
}

:global(.vtex-slider-layout-0-x-sliderRightArrow--shelf)::after{
  content: '';
  display: block;
  width: 21px;
  height: 13.5px;
  background: url('assets/icons/icon-right.svg') no-repeat;
  background-size: 100%;
}

:global(.vtex-slider-layout-0-x-sliderRightArrow--shelf){
  right: -50px;
  border-radius: 50%;
}

:global(.vtex-slider-layout-0-x-sliderArrows--shelf){
  background: #fff !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

:global(.vtex-product-summary-2-x-containerNormal--summary-shelf)
:global(.vtex-store-components-3-x-priceContainer){
  display: flex;
  flex-direction: column !important;
}

/* Vitrine destaques*/

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-summary-2-x-element--summary-shelf ){
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-areas:
      "a b"
      "c d";
  grid-template-rows: 80px 80px;
  padding: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-store-components-3-x-discountInsideContainer){
  border-radius: 5px 0 0 0;
  background: #266590;
  right: 71px;
  top: -15px;
}


:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-summary-2-x-brandName ){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 12px !important;
  height: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-price-1-x-savings--summary ){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-price-1-x-sellingPrice--summary--hasListPrice ){
  color: #1F6591;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-price-1-x-listPrice--summary ){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #3a3a3a;
  opacity: 0.7;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-summary-2-x-container--summary-shelf) 
:global(.vtex-button){
  background: #1F6591!important;
  border-radius: 22px!important;
  width: 115px !important;
  height: 44px !important;
  margin: 15px 0 0 9px;
  border-color: inherit;

}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-product-summary-2-x-element--summary-shelf )
:global(.vtex-button__label)::after{
  display: none ;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-vitrine-destaque)
:global(.vtex-flex-layout-0-x-flexCol--summary-price-selling ){
  text-align: left;
}

:global(.vtex-product-summary-2-x-container--summary-shelf )
:global(.vtex-product-summary-2-x-nameContainer){
  margin-left: 0 !important ;
  padding: 0 !important;
  justify-content: flex-start;
}

/* Outras Vitrines*/

:global(.vtex-product-summary-2-x-brandName ){
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
}


:global(.vtex-product-price-1-x-sellingPrice--summary--hasListPrice){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 150%;
  color: #1F6591;
}

:global(.vtex-product-price-1-x-savings--summary ){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexCol--summary-price-selling){
  text-align: left;
}

:global(.vtex-product-price-1-x-listPriceValue--summary){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #3a3a3a;
  opacity: 0.7;
}

/* Vitrine PG Prod*/

:global(.vtex-address-form__field--small ){
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 24px;
  margin-top: 63px;
  border-top: 1px solid #0001;
}

:global(.vtex-address-form__postalCode-forgottenURL ){
  display: flex;
  padding-left: 22px;
  justify-content: center;
}

:global(.vtex-store-components-3-x-shippingContainer)
:global(.vtex-button ){
  width: 122px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  right: 3em;
  bottom: 2.4em;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  border-color:#1F6591 ;
}
:global(.vtex-store-components-3-x-shippingContainer) 
:global(.vtex-button)::after {
  content: "Calcular";
  color: #1f6591;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-cep)
:global(.vtex-button__label){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexColChild--product_icon--products) 
:global(.vtex-button){
  background: #1F6591;
  border-radius: 24px;
  border-color: #1F6591;
  height: 48px;
  width: 469px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product_icon--products)
:global(.vtex-button__label){
  font-weight: 700;
}

:global(.vtex-product-summary-2-x-containerNormal){
  background: #fff;
}

:global(.vtex-product-summary-2-x-element--summary-shelf ){
  background: #fff;
  padding: 0 10px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-container-breadcrumb){
  background: #fff;
}

:global(.vtex-breadcrumb-1-x-caretIcon ){
  color: #919191;
}

:global(.vtex-flex-layout-0-x-flexRow--product-container-top){
  background: #fff;
}

:global(.vtex-store-components-3-x-carouselThumbBorder--product-thumbs ){
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

/* Label Preço */

:global(.vtex-store__template )
:global(.vtex-store-components-3-x-sellingPriceLabel),
:global(.vtex-store__template )
:global(.vtex-store-components-3-x-listPriceLabel){
  display: none;
}

:global(.vtex-store__template )
:global(.vtex-store-components-3-x-listPriceValue){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

:global(.vtex-numeric-stepper__plus-button__text){
  color:#3a3a3a;
}
:global(.vtex-product-context-provider)
:global(.vtex-flex-layout-0-x-flexRowContent--shelf){
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 80px !important;
}

:global(.vtex-product-context-provider)
:global(.vtex-store-link-0-x-link--link-vertudo){
  padding: 16px 0;
}

/* Title descrição */

:global(.vtex-store-components-3-x-productDescriptionContainer ){
  width: 100%;
  max-width: 1200px;
  margin-top: 48px;
}

:global(.vtex-store-components-3-x-productDescriptionTitle ){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
  color: #3a3a3a;
  text-align: center;
  padding-bottom: 32px;

}

:global(.vtex-store-components-3-x-productDescriptionText ){
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  background: #fff;
  padding: 32px 38px;
  border-radius: 5px;
}

:global(.vtex-numeric-stepper__plus-button){
  border: none;
}

:global(.vtex-numeric-stepper__minus-button){
  border: none;
}

:global(.vtex-styleguide-9-x-hideDecorators){
  background: none ;
  border: none;
}

:global(.vtex-numeric-stepper-container ){
  width: 156px;
  background: #f2f2f2;
  border-radius: 24px;
}
:global(.vtex-store-components-3-x-productImageTag--product-thumbs--main ){
  width: 100%;
  height: 100%;
  max-height: 436px !important;
  object-fit: contain;
}

/*correcão container preço*/

:global(.vtex-flex-layout-0-x-flexRowContent--product-price__container){
  display: flex;
  flex-direction: column;
}

:global(.vtex-flex-layout-0-x-flexRow--product-price__container)
:global(.vtex-flex-layout-0-x-flexRowContent ){
  margin-bottom: 0 !important;
}

:global(.vtex-flex-layout-0-x-flexRow--product-price__container)
:global(.vtex-product-price-1-x-listPrice--summary){
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
}

:global(.vtex-flex-layout-0-x-flexRow--product-price__container)
:global(.vtex-product-price-1-x-sellingPrice--hasListPrice){
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 22px;
line-height: 150%;
color:#1F6591;
}

:global(.vtex-flex-layout-0-x-flexRow--product-price__container)
:global(.vtex-product-price-1-x-installments){
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #3a3a3a;
white-space: nowrap;
}

:global(.vtex-flex-layout-0-x-flexRow--product-price__container){
  padding: 16px 0;
  border-top: 1px solid #0001;
}

:global(.vtex-address-form__postalCode)
:global(.vtex-input-prefix__group)::after {
  content: 'Digite seu CEP';
  position: absolute;
  left: 20px;
  top: 12px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
}

:global(.vtex-address-form__postalCode)
:global(.vtex-input-prefix__group ){
  position: relative;
  margin-top: 16px;
}

:global(.vtex-address-form__postalCode)
:global(.vtex-input){
  width: 270px;
}

:global(.vtex-address-form__postalCode)
:global(.vtex-input__label){
  display: none;
}

:global(.vtex-address-form__postalCode)
:global(.vtex-input__error){
  color: #1F6591;
  font-size: 12px;
}


:global(.vtex-address-form__postalCode)
:global(.vtex-input)::before{
  content: 'Calcule o valor e o prazo de entrega';
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
}

:global(.vtex-address-form__postalCode)
:global(.vtex-input__suffix ){
  background:#F4f5f5;
}

:global(.vtex-numeric-stepper__minus-button ){
  color: #3a3a3a !important;
}

:global(.vtex-product-price-1-x-installmentsNumber),
:global(.vtex-product-price-1-x-currencyContainer ){
  font-weight: 700;
}

:global(.vtex-flex-layout-0-x-flexRowContent--order-by){
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 32px;
}

:global(.vtex-rich-text-0-x-paragraph--title-filter-search ){
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #3a3a3a;
}

:global(.vtex-store-components-3-x-discountInsideContainer){
  border-radius: 0 5px;
  background: #266590;
  right: -12px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-container-description ){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-container-description )
:global(.vtex-flex-layout-0-x-stretchChildrenWidth ){
  width: 100% !important;
}